<main>
  <p id="notice"><%= notice %></p>
  <div class="">
    <div class="">
      <div class="">
        <h2>User info</h2>
        <table class="table">
          <tr>
            <td>
              <%= image_tag current_user.get_profile_image %>
            </td>
          </tr>
          <tr>
            <th>name</th>
            <td><%= current_user.name %></td>
          </tr>
          <tr>
            <th>introduction</th>
            <td><%= current_user.introduction %></td>
          </tr>
        </table>

        <div class="">
          <%= link_to edit_user_path(current_user), class: "" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>
        </div>

        <h2 class="">New book</h2>
        <%= form_with model: @book, local: true do |f| %>
          <div class="">
            <%= f.label :title, "Title" %>
            <%= f.text_field :title, class: "" %>
          </div>
          <div class="">
            <%= f.label :body, "Opinion" %>
            <%= f.text_area :body, class: "" %>
          </div>
          <div class="">
            <%= f.submit "Submit", class: "", data: { disable_with: "Submit" } %>
          </div>
        <% end %>
      </div>

      <div class="">
        <h2>Books</h2>
        <table class="">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @books.each do |book| %>
              <tr>
                <td>
                  <% if book.user.profile_image.attached? %>
                    <%= image_tag book.user.profile_image.variant(resize_to_fill: [50, 50]) %>
                  <% else %>
                    <%= image_tag "no_image.jpg" %>
                  <% end %>
                </td>
                <td><%= link_to book.title, book_path(book) %></td>
                <td><%= book.body %></td>
                <td><%= link_to "Edit", edit_book_path(book), class: "" %></td>
                <td>
                  <%= link_to "Destroy", book_path(book), method: :delete, data: { confirm: "本当に消しますか？" }, class: "" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
