<main>
  <%= render partial: "list", locals: { book: @book } %>
    <div class="table">
      <h2>Book detail</h2>
      <table class="">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <% if @book.user.profile_image.attached? %>
                <%= image_tag @book.user.profile_image.variant(resize_to_fill: [50,50]), class:"" %>
              <% else %>
                <%= image_tag "no_image.jpg", class: "" %>
              <% end %>
              <br>
               <%= link_to @book.user.name, user_path(@book.user) %>
            </td>
            <td><%= @book.title %></td>
            <td><%= @book.body %></td>
            <td><%= link_to "Edit", edit_book_path(@book), class:'' %></td>
            <td>
              <%= link_to "Destroy", book_path(@book), method: :delete, class: '', data: { confirm: "本当に消しますか？" } %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>
</main>

